

.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.part-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom,  hsl(252, 100%, 67%),hsl(241, 81%, 54%));
   border-radius: 5%;
   color: white;
   width: 375px;
  padding-bottom: 40px;


}
.para{
    margin: 0px 50px;
    text-align: center;
    color: hsl(221, 100%, 96%);

}
.circle{
    border: transparent;

    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    width: 140px; 
    height: 140px;
    border-radius: 50%; 
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white; 
}
  
 .circle h1 {
    font-size: 44px; 
    margin: 0; }
  
  .circle p {
    font-size: 14px; 
    margin: 0; 
 
  }
  .part-2{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 375px;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
   
  }
  .part-im{
    display: flex;
  }
  .part-2 h4{
    position: relative;
    left: -100px;
    margin: 25px;
  }
  .part-2-item{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    width: 275px;
    padding: 0px 15px;
    margin: 10px;
    border-radius: 5px;
}
  
  .btn{
    background: hsl(224, 30%, 27%);
    color: white;
    width: 270px;
    border-radius: 20px;
    height: 40px;
    margin: 20px;
    
  }
  @media (max-width:  768px) {
    .container {
      flex-direction: column;
transform: none;
top: 0;
left: 0;

     


    }
.part-1{
    width: 100%;
}
.part-2{
    width: 100%;
}
}